body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 500px;
    height: 500px;
    border: 2px solid #000;
}

.sudoku-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #999999;
    padding: 0;
    margin: 0;
    /* border: none; */
}
.num_color{
    color: red;
}
.sudoku-cell input[type="number"] {
    /* padding:3px; */
    appearance: textfield; /* Other browsers */
    width: 100%;
    height: 100%;
    text-align: center; /* Center the input value */
    font-size: 1.2rem; /* Match the font size */
}

input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

button {
    margin-top: 15px;
    margin-left: 6px;
    padding: 15px 30px;
    background-color: #909090;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.sudoku-cell:nth-child(3n), .sudoku-cell:nth-child(6n) {
    border-right: 3px solid #000; /* Extra dark right border for 3x3 blocks */
}

.sudoku-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-cell:nth-child(n+46):nth-child(-n+54),
.sudoku-cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 3px solid #000; /* Extra dark bottom border for 3x3 blocks */
}

p{
    font-size: 70px;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 8px;
    font-family: 'Black Ops One';
}